{% load static %}
{%if messages %}
<div class="space-y-6 font-sans space-x-6 ">
{% for message in messages %}
<!-- success message -->
    {% if message.tags == 'success'%}
    <div class="relative flex min-h-[60px] overflow-hidden rounded-lg bg-white text-green-600 border border-green-600 " role="alert">
     <div class="flex flex-col justify-center px-4 py-1 ">
           <p class="mb-0.5 font-bold mr-4 text-sm">Success message:</p>
        <span class="text-sm">{{message}}</span>
     </div>
    </div>
    {%endif%}
    <!-- warning message -->
         {% if message.tags == 'warning'%}
    <div class="relative flex min-h-[60px] overflow-hidden rounded-lg bg-white text-yellow-600 border border-yellow-600 " role="alert">
     <div class="flex flex-col justify-center px-4 py-1 ">
           <p class="mb-0.5 font-bold mr-4 text-sm">Success message:</p>
        <span class="text-sm">{{message}}</span>
     </div>
    </div>
    {%endif%}
    <!-- error message -->
         {% if message.tags == 'error'%}
    <div class="relative flex min-h-[60px] overflow-hidden rounded-lg bg-white text-red-600 border border-red-600 "  role="alert">
     <div class="flex flex-col justify-center px-4 py-1 ">
           <p class="mb-0.5 font-bold mr-4 text-sm">Success message:</p>
        <span class="text-sm">{{message}}</span>
     </div>
    </div>
    {%endif%}
{%endfor%}
</div>
{%endif%}