<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Django Ecommerce - {% block title %} {% endblock %}</title>
  </head>
  <body>
    {% include 'includes/messages.html' %}
    {% block content %}
    <!-- Content goes here -->
    {% endblock %}
    <script src="https://kit.fontawesome.com/2897fee97b.js" crossorigin="anonymous" ></script>
  </body>
</html>
